<div class="flex flex-col mr-8 items-center sm:flex sm:flex-row">
    <div class="m-4">
        <div class="imgContainer w-[180px] sm:w-[250px]">
            <img src="" alt="" srcset="../images/image1.jpeg">
        </div>
        <div class="imgContainer w-[180px] sm:w-[250px]">
            <img src="" alt="" srcset="../images/image2.jpeg">
        </div>
    </div>
    <div class="mr-4">
        <div class="imgContainer w-[180px] sm:w-[250px]">
            <img src="" alt="" srcset="../images/image3.webp">
        </div>
        <div class="imgContainer w-[180px] sm:w-[250px]">
            <img src="" alt="" srcset="../images/image4.jpeg">
        </div>
    </div>
</div>
<!--description about-->
<div class="w-[90%] descript m-4 sm:w-2/6">
    <h2 class="text-yellow-600 text-4xl font-bold m-4">Notre histoire</h2>
    <p class="text-2xl text-[#ccc] ">
        Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
    </p>
    <a href="" class="text-center flex items-start justify-start text-yellow-400 text-xl font-bold mt-3 ml-2">Voir plus ...</a>
</div>
