<div class="text-[#ccc]   mt-[300px] flex justify-center items-center self-center  flex-col sm:flex-row">
  <div class=" flex flex-col ">
    <h2 class="text-xl text-center sm:text-3xl sm:m-8 font-bold text-yellow-500">Veillez écrire votre demande ci-dessous</h2>
    <form class="w-[300px] ml-4 ">
      <div class="p-2">
        <label for="name" class=" text-xl">Prénom</label> <br>
        <input type="text" name="name" id="name" class="bg-white w-full p-2 rounded outline-none text-black">
      </div>
      <div class="p-2">
        <label for="email" class=" text-xl">Email</label> <br>
        <input type="email" name="email" id="email" class="bg-white w-full p-2 rounded outline-none text-black">
      </div>
      <div class="p-2">
        <label for="message" class=" text-xl">Message</label> <br>
        <textarea  name="message" id="message" class="bg-white w-full p-2 rounded outline-none text-black h-[150px]"></textarea>
      </div>
      <button class="bg-yellow-600 p-2 ml-1 rounded  outline-none w-[180px] flex items-center justify-center self-center sm:mt-3 mr-6 text-white">Réserver une table</button>
    </form>
  </div>

</div>
