<div class="text-[#ccc] mt-4 flex justify-center items-center self-center  flex-col sm:flex-row">
  <div class="w-[500px] flex flex-col ">
    <h2 class="text-xl text-center sm:text-3xl sm:m-8 font-bold text-yellow-500">Découvrir le vrai sens du goût</h2>
    <p class="text-2xl text-center  hidden sm:block sm:ml-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet blanditiis culpa dicta, eaque est explicabo ipsam natus omnis unde? Asperiores commodi distinctio exercitationem in nam necessitatibus nobis saepe voluptas.
    </p>
    <a href="/components/reserveTable.html" id="active" class="bg-yellow-500 p-3 rounded m-8 outline-none w-[180px] flex items-center justify-center self-center sm:mt-16 mr-6">Réserver une table</a>
  </div>
  <div class="w-[350px] h-[350px] ml-10">
    <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/2290070/pexels-photo-2290070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
  </div>
</div>
